{# secondary footer #}
<div class="footer__wrapper">
	<footer id="footer" class="footer" role="contentinfo">
		<div id="footer__inner" class="container">
			<div class="region region-footer">
				<div id="block-acas-footer">
					<nav role="navigation" aria-labelledby="block-acas-footer-menu">
						<span class="sr-only" id="block-acas-footer-menu">Footer menu</span>
						<ul class="menu menu--footer">
							<li>
								<a href="https://www.acas.org.uk/node/635">Accessibility</a>
							</li>
							<li>
								<a href="{{ path('app_cookie_policy') }}">Cookies</a>
							</li>
							<li>
								<a href="https://www.acas.org.uk/node/41">Copyright</a>
							</li>
							<li>
								<a href="https://www.acas.org.uk/node/39">Privacy</a>
							</li>
							<li>
								<a href="https://www.acas.org.uk/node/608">Modern slavery statement</a>
							</li>
							<li>
								<a href="https://www.acas.org.uk/sitemap">Site map</a>
							</li>
							<li>
								<a href="https://www.acas.org.uk/node/44">Terms and conditions</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
</div>
