{# primary footer #}
<div class="footer__wrapper">
	<footer id="footer_upper" class="footer_upper" role="contentinfo">
		<div id="footer_upper__inner" class="container">
			<div class="region region-footer-upper">
				<section id="block-socialmedialinks">
					<a class="footer-logo" href="https://www.acas.org.uk/" title="Home" rel="home">
						<img src="{{ asset(subpath~'/images/acas-logo.png') }}" alt="Acas working for everyone - Home">
					</a>
					<ul class="social-media-links--platforms platforms inline horizontal">
						<li>
							<a class="social-media-link-icon--facebook" href="https://www.facebook.com/acasorguk/" aria-label="Find Acas on Facebook" title="Find Acas on Facebook">
								<span class="fa fa-facebook fa-2x"></span>
							</a>
						</li>
						<li>
							<a class="social-media-link-icon--twitter" href="https://www.twitter.com/acasorguk" aria-label="Follow Acas on Twitter" title="Follow Acas on Twitter">
								<span class="fa fa-twitter fa-2x"></span>
							</a>
						</li>
						<li>
							<a class="social-media-link-icon--linkedin" href="https://www.linkedin.com/company/acas/" aria-label="Find Acas on LinkedIn" title="Find Acas on LinkedIn">
								<span class="fa fa-linkedin fa-2x"></span>
							</a>
						</li>
					</ul>
				</section>

				<section id="block-footercalltoaction1">
					<div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
						<div class="footer_action">
							<h2>
								<span>Subscribe for updates</span>
							</h2>
							<div class="description">
								<p>News and updates by email</p>
							</div>
							<a class="button" href="https://obs.acas.org.uk/subscription/">
								<div class="actionsfooter">
									<span>Sign up for emails</span>
								</div>
							</a>
						</div>
					</div>
				</section>

				<section id="block-secondaryfooter">
					<nav role="navigation" aria-labelledby="block-secondaryfooter-menu">
						<span class="sr-only" id="block-secondaryfooter-menu">Secondary footer</span>
						<ul class="menu menu--secondary-footer">
							<li>
								<a href="https://www.acas.org.uk/node/316">Blog</a>
							</li>
							<li>
								<a href="https://www.acas.org.uk/node/403">Contact us</a>
							</li>
							<li>
								<a href="https://www.acas.org.uk/node/830">Jobs</a>
							</li>
							<li>
								<a href="https://www.acas.org.uk/node/309">News</a>
							</li>
							<li>
								<a href="https://www.acas.org.uk/node/709">Podcast</a>
							</li>
						</ul>
					</nav>
				</section>
			</div>
		</div>
	</footer>
</div>