<div
	class="region region-top-bar">
	{# Beta Banner #}
	<section id="block-betabannerblock" class="block-beta-banner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<span class="beta-icon">BETA</span>
					This is a new service <span aria-hidden="true">- </span><a href="https://www.acas.org.uk/form/tell-feedback" target="_blank" class="print-page">your feedback will help us to improve it.</a>
				</div>
			</div>
		</div>
	</section>
</div>
