{# Primary Header #}
<div class="region region-branding-bar">
    <a class="logo" href="https://www.acas.org.uk/" title="Home" rel="home">
        <img src="{{ asset(subpath~'/images/acas-logo.png') }}" alt="Acas working for everyone: Home" class="print-hide">
        <img src="{{ asset(subpath~'/images/acas-logo-black.png') }}" alt="Acas working for everyone: Home" class="logo-hide">
    </a>
</div>
