@use "sass:math";

$spacing-xs: 3px;
$spacing-s: 5px;
$spacing-m: 10px;
$spacing-l: 16px;
$spacing-l-plus: 24px;
$spacing-xl: 32px;
$spacing-xxl: 45px;
$spacing-xxxl: 56px;
$spacing-xxxxl: 90px;
$spacing-xxxxxl: 120px;

$grid-spacing: 12px;
$grid-spacing--half: 6px;
$mobile-grid-spacing: $grid-spacing;
$phablet-grid-spacing: 4px;

$icon-size--s: 16px;
$icon-size--m: 24px;
$icon-size--l: 30px;
$icon-size--xl: 64px;

// this should match the root font-size; default: 16px;
$space-unit: 16px; // 16px

// numeric spacers
$spacing-1: math.div(1px, $space-unit) * 1rem; // 1px
$spacing-2: math.div(2px, $space-unit) * 1rem; // 2px
$spacing-3: math.div(3px, $space-unit) * 1rem; // 3px
$spacing-4: math.div(4px, $space-unit) * 1rem; // 4px
$spacing-5: math.div(5px, $space-unit) * 1rem; // 5px
$spacing-6: math.div(6px, $space-unit) * 1rem; // 6px
$spacing-7: math.div(7px, $space-unit) * 1rem; // 7px
$spacing-8: math.div(8px, $space-unit) * 1rem; // 8px
$spacing-9: math.div(9px, $space-unit) * 1rem; // 9px
$spacing-10: math.div(10px, $space-unit) * 1rem;
$spacing-100: math.div(100px, $space-unit) * 1rem; // 100px
