h1 {
  @include h1;

  label {
    @include h1(false, false)
  }
}

.h1 {
  @include h1;
}

h2 {
  @include h2;
}

.h2 {
  @include h2;
}

h3 {
  @include h3;
}

.h3 {
  @include h3;
}

h4 {
  @include h4;
}

.h4 {
  @include h4;
}

h5 {
  @include h5;
}

.h5 {
  @include h5;
}

h6 {
  @include h6;
}

.h6 {
  @include h6;
}

p {
  @include p;
}

html {
  font-size: 19px;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-body;
  font-style: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

strong,
b {
  font-family: $font-family-semibold;
}

@mixin anchor-link-styling {
  color: acas-color("teal-dark");
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    background: acas-color("teal-dark");
    color: acas-color("white");
  }
}

a {
  @include anchor-link-styling;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  @include shared-list-styles;

  list-style-type: disc;
}

ol {
  @include shared-list-styles;

  list-style-type: decimal;
}

legend {
  display: contents;

  &.sr-only {
    display: block;
  }
}