{% extends 'admin/admin_base.html.twig' %}
{% set title = "Dashboard"  %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1 class="govuk-heading-xl">{{ title }}</h1>

{% endblock %}
