{% extends 'admin/admin_base.html.twig' %}
{% set title = "Notification Forms"  %}
{% block title %}
	{{ title}}
{% endblock %}
{% block body %}
	<h1 class="govuk-heading-l">{{ title }}</h1>
	{{ form_start(form) }}
	<button type="submit" class="govuk-button">Retry all failed submissions</button>
	{{ form_end(form) }}
{% endblock %}
