/*
* Please use as low a z-index as possible
* some possible refactoring for the namings
*/
$z-default: 0;
$z-least-concern: 1;
$z-nav-menu-item: 3;
$z-desktop-seach-icon: 5;
$z-modal-wrapper: 4;
$z-mobile-nav: 5;
$z-modal-content: 5;

$z-mobile-menu: 502;
$z-admin-bar: 999;
