/* Remove list styles on ul, ol elements with a class attribute */
ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: decimal;
}

ul { 
  list-style: disc;
}
