

.map-and-contact-details {
  @include mq($break-desktop) {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .map-and-contact-details__section {
    @include mq($break-desktop) {
      flex-basis: calc(calc(100% / 3) - #{$spacing-l});
      margin-right: $spacing-l;
    }
  }

  .map-and-contact-details--address-header {
    word-break: break-all;
    word-break: break-word;
  }
}


