.app-navigation {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
}

@media print {
  .app-navigation {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-navigation {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-navigation {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.app-navigation__list {
  position: relative;
  left: -15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-navigation__list-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  padding: 0 15px;
  line-height: 50px;
}

.app-navigation__list-item--current {
  border-bottom: 4px solid #1d70b8;
}

.app-navigation__link {
  font-weight: 700;
}

.app-navigation__link:not(:focus):hover {
  color: #1d70b8;
}

.app-navigation__link:hover {
  text-decoration: none;
}

.app-navigation__list {
  position: relative;
  left: -15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-subnav {
  margin-bottom: 100px;
  padding: 30px 15px 0 0;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
}

@media (max-width: 40.0525em) {
  .app-pane__subnav {
    display: none;
  }
}
@media (min-width: 40.0625em) {
  .app-pane__subnav {
    width: 210px;
    flex-basis: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
}

@media (min-width: 48.0625em) {
  .app-pane__subnav {
    width: 260px;
  }
}

@media (min-width: 40.0625em) {
  .app-subnav {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

.app-subnav__theme {
  margin: 0;
  padding: 10px 15px 10px 0;
  color: #505a5f;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

@media (min-width: 40.0625em) {
  .app-subnav__theme {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

.app-subnav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.app-subnav__section-item {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.app-navigation__list-item--has-children {
  &:hover,
  &:focus,
  &:focus-within {
    @media (min-width: 40.0625em) {
      background-color: darken(#f8f8f8, 10%);
    }

    > .app-navigation__list--second-level {
      @media (min-width: 40.0625em) {
        visibility: visible;
        position: absolute;
        width: 100%;
        height: auto;
        top: 51px;
        left: 0;
        z-index: 10;
        clip: initial;
        background-color: #f8f8f8;
        border: 1px solid darken(#f8f8f8, 10%);
        border-top: none;
      }
    }

    .fa-chevron-up {
      @media (min-width: 40.0625em) {
        display: inline-block;
      }
    }

    .fa-chevron-down {
      @media (min-width: 40.0625em) {
        display: none;
      }
    }
  }

  .fas {
    min-width: 17px;
  }

  .fa-chevron-down {
    display: none;

    @media (min-width: 40.0625em) {
      display: inline-block;
    }
  }

  .fa-chevron-up {
    display: none;

    @media (min-width: 40.0625em) {
      display: none;
    }
  }
}

.app-navigation__list--second-level {
  @media (min-width: 40.0625em) {
    @include sr-only;
  }
}
