{% extends 'base.html.twig' %}

{% block title %}Notify Acas about making a claim to an employment tribunal
{% endblock %}

{% block body %}
	<h1>Access Denied</h1>
	<p>You do not have permission to view this page</p>
{% endblock body %}
