{% extends 'base.html.twig' %}
{% block page_title %}{% endblock %}
{% block content %}

<h1>Cookies</h1>
<p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
<p>We use cookies to collect and store information about how you use our website and services on acas.org.uk.</p>
<h2>Cookies we use</h2>

<p>You can choose which cookies you're happy for us to use.</p>

<div class="ot-policy-container">
  <!-- OneTrust Cookies Settings button start -->
  <button class="ot-sdk-show-settings btn-primary" id="ot-sdk-btn">Change your cookie settings</button>
  <!-- OneTrust Cookies Settings button end -->
  <!-- OneTrust Cookies List start -->
  <div id="ot-sdk-cookie-policy"></div>
  <!-- OneTrust Cookies List end -->
</div>

<h2>How to control cookies in your browser</h2>
<p>If you'd like to restrict or block the cookies set by our website, or any other website, you can do this through your browser settings. The 'help' function within your browser should tell you how.</p>
<p>Restricting cookies may affect the functionality of our website.</p>
<p><a target="_blank" href="https://ico.org.uk/your-data-matters/online/cookies/">Find out more about how to control cookies from the Information Commissioner's Office (ICO)</a></p>
</div>
{% endblock %}
